body {
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background: #f2f2f2;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-style: bold;
    color: #fff;
}

.container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    background: #ffffff;
}

.wrapper {
    background: #ffffff;
}

/*--sprite--*/

.sprite {
    background-image: url("/../icons/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -20px -20px;
}

.sprite-calendardown {
    width: 21px;
    height: 22px;
    background-position: -81px -20px;
}

.sprite-calendarhvr {
    width: 21px;
    height: 22px;
    background-position: -142px -20px;
}

.sprite-check {
    width: 26px;
    height: 22px;
    background-position: -203px -20px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -269px -20px;
}

.sprite-html {
    width: 113px;
    height: 39px;
    background-position: -319px -20px;
}

.sprite-htmldown {
    width: 113px;
    height: 39px;
    background-position: -472px -20px;
}

.sprite-htmlhvr {
    width: 113px;
    height: 39px;
    background-position: -625px -20px;
}

.sprite-kube {
    width: 22px;
    height: 22px;
    background-position: -778px -20px;
}

.sprite-star {
    width: 17px;
    height: 17px;
    background-position: -840px -20px;
}

.sprite-tweet {
    width: 17px;
    height: 15px;
    background-position: -897px -20px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -954px -20px;
}




/*--header--*/
.main-navigation {
    min-width: 768px;
    max-width: 100%;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    width: 20%;
    margin: auto;
}

.main-navigation a {
    display: block;
    font-weight: 700;
    padding-top: 17px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    color: #000000;
}

.logo a {
    position: relative;
    padding-top: 0;
    z-index: 2;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #b2b2b2;
}

/*--welcome--*/

.content {
    background-color: #eeeeee;
}

.picture-block {
    position: relative;
    background: url(../img/background%20photo.jpg) no-repeat;
    height: 510px;
    text-align: center;
    background-color: #a5bac9;
    margin-top: -20px;
    margin-bottom: 69px;
    z-index: 1;
    background-size: cover;
}

.welcome {
    padding-top: 70px;
    margin-bottom: 10px;
}

.gorgeous {
    margin-bottom: 50px;
}

.sedona {
    margin-bottom: 60px;
}

.mask {
    background: url("../img/mask.png") center;
    width: 101%;
    position: absolute;
    height: 60px;
    bottom: -1px;
    background-size: cover;
   
}

.mask img {
    max-width: 100%;
}

.who-is-who {
    text-align: center;
}

.h2 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.real-town {
    margin: 60px 0;
}

.real-town-text {
    float: left;
    width: 33.33%;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    padding: 43px 0;
    height: 170px;
    
    
}

.real-town-img {
    background-image: url("/../img/photo1.jpg");
    float: right;
    width: 66.66%;
    height: 256px;
    background-color: #616637;
}

.super1 {
    font-size: 0;
    margin-bottom: 68px;
}

.having {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 33.33%;
    text-align: center;
    padding-bottom: 50px;
}

.having b,
.having p {
    display: block;
}

.having .about {
    max-width: 100%;
}

.bold {
    font-size: 21px;
    line-height: 21px;
}

.hell {
    margin-bottom: 50px 0;
}

.hell-img {
    background-image: url("/../img/photo2.jpg");
    float: left;
    width: 66.66%;
    background-color: #926d5b;
    height: 256px;
}

.hell-text {
    float: right;
    width: 33.33%;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
   height: 170px;
    padding: 43px 0;
}

.super2 {
    font-size: 0;
    margin: 47px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.interests {
    text-align: center;
}

.question {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.interests {
    padding-top: 55px;
    margin-bottom: 140px;
}

.map {
    position: relative;
    background: url(/img/map.jpg);
    height: 475px;
}

.booking {
    position: absolute;
    top: -128px;
    width: 570px;
    margin-top: 52px;
    background-color: #ffffff;
    transform: translateX(50%);
}

.booking-header {
    background-color: #988a81;
    text-align: center;
    padding: 28px 0;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
}

.booking-information {
    padding: 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}

.booking-information input {
   position: relative;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    width: 340px;
    margin-bottom: 35px;
    margin-left: 3px;
    border: none;
    outline: none;
}

.booking-information input:hover {
    background: #ebebeb;
}

.booking-information input:active {
    background: #ffffff;
    outline: 2px solid #e5e5e5;
}

.calendar1 {
    position: absolute;
    content: "";
    background: url("/icons/spritesheet.png");
    right: 70px;
    top: 140px;
    cursor: pointer;
    
    width: 21px;
    height: 22px;
    background-position: -20px -20px;
}



.calendar2 {
    position: absolute;
    content: "";
    background-color: aqua;
    background: url("/icons/spritesheet.png");
    right: 70px;
    top: 215px;
    cursor: pointer;
    
    width: 21px;
    height: 22px;
    background-position: -20px -20px;
}


.calendar1:hover,
.calendar2:hover {
    background: url("/icons/spritesheet.png");
     width: 21px;
    height: 22px;
    background-position: -142px -20px;
}


.calendar1:active,
.calendar2:active {
    background: url("/icons/spritesheet.png");
    width: 21px;
    height: 22px;
    background-position: -81px -20px;
}

.booking-information .people input {
    width: 15px;
    margin: 0;
}

.people {
    font-size: 0;
}

.old {
    float: left;
    width: 230px;
}

.young {
    float: right;
    width: 230px;
    text-align: right;
    
   
}

.young label,
.old label {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    padding-right: 30px;
}

.sbm-btm {
    display: inline-block;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 460px;
    margin-bottom: 55px;
    padding: 20px 0;
    margin-left: 10%;
}

.sbm-btm:hover {
    background-color: #669ec0;
}

.sbm-btm:active {
    background-color: #5496bd;
    color: #84b4d0;
}

.btn {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 0;
    border: none;
    outline: none;
    font-size: 21px;
    width: 38px;
    color: #a9a9a9;
    cursor: pointer;
}

.btn:hover {
    color: #000000;
    
}

.btn:active {
    color: #88b6d1;
    
}


.young input,
.old input {
     width: 38px;
     font-size: 14px;
     padding-top: 15px;
     outline: none;
}



/*--hotels--*/

.choose {
    position: relative;
    background: url(/../img/filter%20background.jpg);
    height: 217px;
    margin-top: -20px;
    background-color: #515f69;
}
.center {
    width: 88%;
    margin: 0 auto;
}

.filter-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.input1 {
    float: left;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    border: 0;
    
}

.input-block { 
    margin-top: 25px;
 
}

.input2 {
    float: left;
    width: 24%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    border: 0;
}

.input1 [type="checkbox"],
.input2 [type="checkbox"] {
    display: none;
}

.input1 [type="checkbox"]+label,
.input2 [type="checkbox"]+label {
    display: block;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.input1 [type="checkbox"]+label::before,
.input2 [type="checkbox"]+label::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.input1 [type="checkbox"]:checked + label::after,
.input2 [type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-image: url("/../icons/spritesheet.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
    background-position: -20px -20px;
    
}


.filter-range {
    margin-top: 30px;
    float: right;
    width: 30%;
      color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;

  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
      position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
      border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.search {
    float: left;
   width: 13%;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    
}


.sort-list {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    width: 30%;
}

.sort-list li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
    width: 30%;
    margin: auto;
}

.sort-list a {
    display: block;
    padding-top: 22px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    color: #b1b1b1;
    border-bottom: 2px dotted #81b3d2;
    border
}

.sort-list .active {
    color: #81b3d2;
    border: none;
}

.sort-list .disabled {
    pointer-events: none; 
    cursor: default;  
    color: #000000; 
    border: none;
}


.arrows {
    float: right;
    width: 3%;
    background: url("/icons/spritesheet.png") no-repeat center;
   
}

.arrow-up {
    
    width: 11px;
    height: 10px;
    background-position: -526px -20px;
}


.hotel {
    
    padding: 30px 70px;
    border-top: 2px solid #000000;
    
}

.hotel-image {
    float: left;
    width: 13%;
   
}

.product-text {
    float: left;
    width: 30%;
    margin-left: 2%;
    
}

.product-text-uppercase {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-text-uppercase a{
    text-decoration: none;
    color: #000000;
}

.btm-1 {
    display: inline-block;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 35%;
    padding: 3px 0; 
    margin-top: 10px;
}

.btm-2 {
    display: inline-block;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: #766357;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 45%;
    padding: 3px 0; 
}

.rating {
    float: right;
    width: 10%;
}

.rating-box {
    background-color: #f2f2f2;
    text-align: center;
    color: #666666;
}

.stars1 {
    background: url("/icons/spritesheet.png") no-repeat center;
    
    width: 89px;
    height: 17px;
    background-position: -340px -20px;
    margin-bottom: 50px;
    
}

.stars2 {
     background: url("/icons/spritesheet.png") no-repeat center;
     
     width: 40px;
     height: 17px;
     background-position: -340px -20px;
     margin-bottom: 50px;
    
}

.stars3 {
    background: url("/icons/spritesheet.png") no-repeat center;
    
    width: 65px;
    height: 17px;
    background-position: -340px -20px;
    margin-bottom: 50px;
    
}


/*--footer--*/

.main-footer {
    padding: 55px 0;
    height: 120px;
    
}


.footer-hashtag {
    float: left;
    width: 33.33%;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    float: left;
    width: 33.33%;
    text-align: center;
}

.footer-copyright {
    position: relative;
    float: right;
    width: 33.33%;
    
}

.social-btn {
  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  display: inline-block;
  width: 47px;
  height: 47px;
  margin: 0 4px;

  background: #81b3d2 url("/../icons/spritesheet.png") no-repeat center;
}

.social-btn:hover {
    background-color:  #669ec0;
}

.social-btn:active {
    background-color:  #5496bd;
  
}


.social-btn-tweet {
 background-position: -880px -5px;
}

.social-btn-fb {
   background-position: -253px -5px;
}

.social-btn-youtube {
 background-position: -941px -5px;
}

.social-btn-youtube:active {
 opacity: 0.2;
}

.copyright {
 font-size: 0;
  
  text-decoration: none;

  display: inline-block;
  margin: 0 4px;

}

.by {
    font-size: inherit;
    line-height: inherit;
}

.btn1 { 
  top: 0;
  left: 80px;
    
  font-size: 0;
  vertical-align: middle;
  text-decoration: none;

  display: inline-block;
  width: 120px;
  height: 47px;
  margin: 0 4px;

  background: url("/../icons/spritesheet.png") no-repeat center;
  width: 115px;
  height: 39px;
 background-position: -319px -20px;
    
}


