body {
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background: #ffffff;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-style: bold;
    color: #fff;
}

.container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}

/*--header--*/
.main-navigation {
    min-width: 768px;
    max-width: 100%;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    width: 20%;
    margin: auto;
}

.main-navigation a {
    display: block;
    font-weight: 700;
    padding-top: 22px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    color: #000000;
}

.logo a {
    position: relative;
    padding-top: 0;
    z-index: 2;
}

/*--welcome--*/

.content {
    background-color: #eeeeee;
}

.picture-block {
    position: relative;
    background: url(/img/background%20photo.jpg);
    height: 510px;
    text-align: center;
    background-color: #a5bac9;
    margin-top: -20px;
    margin-bottom: 60px;
    z-index: 1;
}

.welcome {
    padding-top: 70px;
    padding-bottom: 10px;
}

.gorgeous {
    margin-bottom: 50px;
}

.sedona {
    margin-bottom: 60px;
}

.mask {
    position: absolute;
    height: 60px;
    top: 450px;
}

.who-is-who {
    text-align: center;
}

.h2 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.real-town {
    margin: 60px 0;
}

.real-town-text {
    float: left;
    width: 33.33%;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    padding: 43px 0;
    height: 170px;
    
    
}

.real-town-img {
    float: right;
    width: 66.66%;
   height: 256px;
    background: #616637;
}

.super1 {
    font-size: 0;
    margin-bottom: 68px;
}

.having {
    display: inline-block;
    font-size: 14px;
    vertical-align: center;
    width: 33.33%;
    text-align: center;
    padding-bottom: 50px;
}

.having b,
.having p {
    display: block;
}

.having .about {
    max-width: 100%;
}

.bold {
    font-size: 21px;
    line-height: 21px;
}

.hell {
    margin-bottom: 50px 0;
}

.hell-img {
    float: left;
    width: 66.66%;
    background-color: #926d5b;
    height: 256px;
}

.hell-text {
    float: right;
    width: 33.33%;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
   height: 170px;
    padding: 43px 0;
}

.super2 {
    font-size: 0;
    margin: 47px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.interests {
    text-align: center;
}

.question {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.interests {
    padding-top: 55px;
    margin-bottom: 140px;
}

.map {
    position: relative;
    background: url(/img/map.jpg);
    height: 475px;
}

.booking {
    position: absolute;
    top: -128px;
    left: 25%;
    width: 48%;
    margin-top: 52px;
    background-color: #ffffff;
}

.booking-header {
    background-color: #988a81;
    text-align: center;
    padding: 28px 0;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
}

.booking-information {
    padding: 55px;
    font-weight: 700;
}

.booking-information input {
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    width: 70%;
    margin-bottom: 35px;
    margin-left: 4%;
    border: none;
}

.booking-information .people input {
    width: 5%;
    margin: 0;
}

.old {
    float: left;
    width: 50%;
}

.young {
    float: right;
    width: 50%;
    text-align: right;
   
}

.sbm-btm {
    display: inline-block;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 80%;
    margin-bottom: 55px;
    padding: 20px 0;
    margin-left: 10%;
}

.btn {
  background-color: #f5f5f5;
    padding: 10px;
    margin: 0;
    border: none;
    font-size: 21px;
}

input .text {
     font-size: 21px;
}

/*--hotels--*/

.choose {
    background: url(/img/filter%20background.jpg)
}

.input1 {
    float: left;
    width: 152px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input2 {
    float: left;
    width: 138px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 87px;
}






.search {
    float: left;
    width: 152px;
}

.sort-list {
    float: left;
    width: 371px;
}

.arrows {
    float: right;
    width: 35px;
}

.hotel {
    margin: 31px 0;
}

.hotel-image {
    float: left;
    width: 152px;
}

.product-text-uppercase {
    float: left;
    width: 371px;
}

/*--footer--*/

.main-footer {
    padding: 55px 0;
}



.footer-hashtag {
    float: left;
    width: 33.33%;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    float: left;
    width: 33.33%;
}

.footer-copyright {
    float: right;
    width: 33.33%;
}